.search-container{
    margin-left:5%;
    box-shadow: 2px 5px 10px #c2c2c2;
    width:90%;
    min-width:320px;
    min-height:600px;
    height:auto;
    padding:10px;
    background-color: white;
}

.search-input{
    padding:10px;
    min-height: 60px;

}

.search-input input{
    width:100%;
    min-width:200px;
    height:50%;
    min-height: 50px;
    border-radius: 10px;
    padding:1%;
}

.search-input input:hover{
  box-shadow: 2px 2px 10px grey;
}

.search-input input:focus{
  background-color: white;
  border-color: darkgrey;
  box-shadow: 2px 2px 10px grey;    
}

.search-input-dropdown{
    
    width:100%;
    
    max-height: 200px;
    z-index: 10;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    overflow: auto;
    text-align: left
}

.search-list{
    padding:8px;
    font-size: 15px;

}

.search-list:hover{
    background-color:#c2c2c2 ;
}

.search-filter{
    padding:20px;
    min-height:60px;
}

.search-bar{
    margin-left: 10px;
    margin-right:10px;
    padding:10px;
    height:auto;
    box-shadow: 0px 0px 1px 0px;
    border-color: #f2f2f2;
}

.search-result-box{
    background-color:#f2f2f2;
    margin-top:2%;
    margin-left:10px;
    margin-right:10px;
    padding: 1% 1% 1% 1%;
    min-height:400px;
    height:auto;
    

}

.search-result-entity-container{
    max-height:300px;
    overflow: auto;
}

.search-result-entity{
    margin-top:5px;
    margin-bottom: 5px;
    padding:15px;
    background-color: white;
}

.search-filter-options{
    padding:1%;
    background-color: antiquewhite;
}