<div class="container animated fadeIn">
  <div class="row">
    <h1 class="header-title"> Contact </h1>
    <hr>
    <div class="col-sm-12" id="parent">
      <div class="col-sm-6">
        <iframe width="100%" height="320px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.7623964687014!2d85.79820151485353!3d20.35143211593079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1908e77a6bbecd%3A0x516790bc3db5a09f!2sMindtree+Limited!5e0!3m2!1sen!2sin!4v1516454217378"
          allowfullscreen></iframe>
      </div>

      <div class="col-sm-6">
        <form class="contact-form" [formGroup]="" method="post">

          <div class="form-group">
            <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus="">
          </div>


          <div class="form-group form_left">
            <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10"
              placeholder="Mobile No." required="">
          </div>
          <div class="form-group">
            <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..."
              required=""></textarea>
            <br>
            <button class="btn btn-default btn-send"> <span class="glyphicon glyphicon-send"></span> Send </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container second-portion">
    <div class="row">
      <!-- Boxes de Acoes -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
          <div class="icon">
            <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            <div class="info">
              <h3 class="title">MAIL & WEBSITE</h3>
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i> wehealuhelp@gmail.com
                <br>
                <br>
                <i class="fa fa-globe" aria-hidden="true"></i> www.wehealu.azurewebsites.net
              </p>

            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
          <div class="icon">
            <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
            <div class="info">
              <h3 class="title">CONTACT</h3>
              <p>
                <i class="fa fa-mobile" aria-hidden="true"></i> (+91)-1800-1800-1800
                <br>
                <br>
                <i class="fa fa-mobile" aria-hidden="true"></i> (+91)-1801-1801-1801
              </p>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
          <div class="icon">
            <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="info">
              <h3 class="title">ADDRESS</h3>
              <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i> Mindtree Limited Plot No. 1, Chandaka Industrial Estate,
                Chandrasekharpur, Bhubaneswar, Odisha 751024
              </p>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
      <!-- /Boxes de Acoes -->

      <!--My Portfolio  dont Copy this -->

    </div>
  </div>

</div>

