<div class="background">
  <div class="container">
    <div class="example-container mat-elevation-z8">
       <mat-card><b class="text-primary">Previous Appointment</b></mat-card>
      <mat-table #table [dataSource]="this.dataSource" matSort matTooltip="Give Feedback">

        <!-- AppointmentID Column -->
        <ng-container matColumnDef="appointmentId">
          <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click for Sort"> Appointment ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.appointmentId}} </mat-cell>
        </ng-container>

        <!-- Appointment Date Column -->
        <ng-container matColumnDef="appointmentDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click for Sort"> Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.appointmentDate}} </mat-cell>
        </ng-container>

         <!-- Appointment Patient Name Column -->
        <ng-container matColumnDef="patientName">
          <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click for Sort"> Patient  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.patientDetails.patientName}} </mat-cell>
        </ng-container>

        <!-- Doctor Name Column -->
        <ng-container matColumnDef="doctorName">
          <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click for Sort"> Doctor  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.doctor.doctorName}} </mat-cell>
        </ng-container>

        <!-- Place Column -->
        <ng-container matColumnDef="Place">
          <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Click for Sort"> Place </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.doctor.zipCode.city}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="show(row.doctor.userLoginId)"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
      <p>*Click on the row for Feedback</p>
    </div>


  </div>
</div>

